<table>
    <tr>
        <th>
            Name
        </th>

        <th>
            <div class="tooltip">PPG
                <span class="tooltiptext">Points per game</span>
            </div>
        </th>

        <th>
            Team
        </th>
    </tr>
    <tr p *ngFor="let item of players">
        <td>
            {{item.firstName}} {{item.secondName}}
        </td>
        <td>
            {{item.pointsPerGame}}
        </td>

        <td *ngIf="item.teamSummary">
            {{item.teamSummary.name}}
        </td>
    </tr>
</table>