.pitch {
    background: url('https://segoo-inc-fantasy-football.s3.us-east-2.amazonaws.com/images/Soccer_Field_Transparant.svg') no-repeat;
    background-size: 100%;
    width: 750px;
    height: 960px;
    margin:auto;
    margin-top:20px;
}

.zone {
    float:left;
}

.pitch-row {
    clear:both;
}