div {
    margin-top:20px;
    position: relative;
}

.soccer-pitch {
    position: absolute;
    top:0px;
    left:0px;
    z-index: 1;
}

.zone {
    position: absolute;
    z-index: 2;
}

.col-1 {
    left:0px;
}

.col-2 {
    left:150px;
}

.col-3 {
    left:300px;
}

.col-4 {
    left:450px;
}

.col-5 {
    left:600px;
}

.row-1 {
    top:0px;
}

.row-2 {
    top:240px;
}

.row-3 {
    top:480px;
}

.row-4 {
    top:720px;
}
